<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Bank</display-name>
	<filter>
		<description>
		</description>
		<display-name>Regfil</display-name>
		<filter-name>Regfil</filter-name>
		<filter-class>Regfil</filter-class>
	</filter>
	<filter>
		<description>
		</description>
		<display-name>Transferfilter</display-name>
		<filter-name>Transferfilter</filter-name>
		<filter-class>Transferfilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Regfil</filter-name>
		<url-pattern>/Regfil</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Regfil</filter-name>
		<servlet-name>Reg</servlet-name>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Transferfilter</filter-name>
		<url-pattern>/Transferfilter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Transferfilter</filter-name>
		<servlet-name>Transfer</servlet-name>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<servlet>
		<description>
		</description>
		<display-name>Reg</display-name>
		<servlet-name>Reg</servlet-name>
		<servlet-class>Reg</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>Login</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Deposit</display-name>
		<servlet-name>Deposit</servlet-name>
		<servlet-class>Deposit</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Transfer</display-name>
		<servlet-name>Transfer</servlet-name>
		<servlet-class>Transfer</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Balance</display-name>
		<servlet-name>Balance</servlet-name>
		<servlet-class>Balance</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Reg</servlet-name>
		<url-pattern>/Reg</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Deposit</servlet-name>
		<url-pattern>/Deposit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Transfer</servlet-name>
		<url-pattern>/Transfer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Balance</servlet-name>
		<url-pattern>/Balance</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
